#para1{
color:yellow;
text-align:center;
font-size:600%;
}

h1{
color:blue;
text-align:right;
font-size:500;
}

#para{
color:red;
text-align:center;
font-size:350;
}

p{
border:20px solid black;
padding:40px;
margin:30px;
background-color:#6495ed;
}

body{
background-image:url("rossi.jpg");
}

div{
text-decoration:overline;
font-size:200%;
}
                   
